<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:name=".SamsungHealthPlugin"
        android:theme="@style/Theme.Smartspacer">

        <activity
            android:name=".ui.activities.ConfigurationActivity"
            android:exported="false"
            android:excludeFromRecents="true"/>

        <activity-alias
            android:name=".ui.activities.SleepConfigurationActivity"
            android:description="@string/configuration_sleep_description"
            android:exported="true"
            android:icon="@drawable/ic_settings"
            android:label="@string/configuration_sleep_title"
            android:targetActivity=".ui.activities.ConfigurationActivity" />

        <provider
            android:authorities="${applicationId}.complications.sleep"
            android:name=".complications.SleepComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.steps"
            android:name=".complications.StepsComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.widgets.sleep"
            android:name=".widgets.SleepWidgetProvider"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_WIDGETS"
            android:exported="true"/>

        <provider
            android:authorities="${applicationId}.widgets.steps"
            android:name=".widgets.StepsWidgetProvider"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_WIDGETS"
            android:exported="true"/>

        <receiver android:name=".receivers.SleepComplicationReceiver"
            android:exported="true"
            android:permission="com.kieronquinn.app.smartspacer.permission.SEND_UPDATE_BROADCAST">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.REQUEST_COMPLICATION_UPDATE" />
            </intent-filter>
        </receiver>

    </application>

    <queries>
        <package android:name="com.sec.android.app.shealth"/>
    </queries>

</manifest>