<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <uses-permission android:name="android.permission.health.READ_ACTIVE_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.READ_BLOOD_GLUCOSE" />
    <uses-permission android:name="android.permission.health.READ_BLOOD_PRESSURE" />
    <uses-permission android:name="android.permission.health.READ_BODY_TEMPERATURE" />
    <uses-permission android:name="android.permission.health.READ_DISTANCE" />
    <uses-permission android:name="android.permission.health.READ_ELEVATION_GAINED" />
    <uses-permission android:name="android.permission.health.READ_FLOORS_CLIMBED" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE_VARIABILITY" />
    <uses-permission android:name="android.permission.health.READ_HYDRATION" />
    <uses-permission android:name="android.permission.health.READ_OXYGEN_SATURATION" />
    <uses-permission android:name="android.permission.health.READ_POWER" />
    <uses-permission android:name="android.permission.health.READ_RESPIRATORY_RATE" />
    <uses-permission android:name="android.permission.health.READ_RESTING_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_SLEEP" />
    <uses-permission android:name="android.permission.health.READ_SPEED" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.READ_VO2_MAX" />
    <uses-permission android:name="android.permission.health.READ_WHEELCHAIR_PUSHES" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:name=".HealthConnectPlugin"
        android:theme="@style/Theme.Smartspacer">

        <activity
            android:name=".ui.activities.ConfigurationActivity"
            android:exported="false"
            android:excludeFromRecents="true"/>

        <activity-alias
            android:name=".ui.activities.SetupActivity"
            android:targetActivity=".ui.activities.ConfigurationActivity"
            android:exported="true"/>

        <activity-alias
            android:name=".ui.activities.ConfigActivity"
            android:label="@string/configuration_label"
            android:description="@string/configuration_description"
            android:icon="@drawable/ic_settings"
            android:targetActivity=".ui.activities.ConfigurationActivity"
            android:exported="true"/>

        <activity
            android:name=".ui.activities.PermissionRationaleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity>

        <service android:name=".service.HealthConnectForegroundService"
            android:foregroundServiceType="shortService"/>

        <provider
            android:authorities="${applicationId}.complications.activecaloriesburned"
            android:name=".complications.ActiveCaloriesBurnedComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.bloodglucose"
            android:name=".complications.BloodGlucoseComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.bloodpressure"
            android:name=".complications.BloodPressureComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.bodytemperature"
            android:name=".complications.BodyTemperatureComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.distance"
            android:name=".complications.DistanceComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.elevationgained"
            android:name=".complications.ElevationGainedComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.floorsclimbed"
            android:name=".complications.FloorsClimbedComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.heartrate"
            android:name=".complications.HeartRateComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.heartratevariabilityrmssd"
            android:name=".complications.HeartRateVariabilityRmssdComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.hydration"
            android:name=".complications.HydrationComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.oxygensaturation"
            android:name=".complications.OxygenSaturationComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.power"
            android:name=".complications.PowerComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.respiratoryrate"
            android:name=".complications.RespiratoryRateComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.restingheartrate"
            android:name=".complications.RestingHeartRateComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.sleep"
            android:name=".complications.SleepSessionComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.speed"
            android:name=".complications.SpeedComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.steps"
            android:name=".complications.StepsComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.totalcaloriesburned"
            android:name=".complications.TotalCaloriesBurnedComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.vo2max"
            android:name=".complications.Vo2MaxComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:authorities="${applicationId}.complications.wheelchairpushes"
            android:name=".complications.WheelchairPushesComplication"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <receiver android:name=".receivers.HealthConnectReceiver"
            android:exported="true"
            android:permission="com.kieronquinn.app.smartspacer.permission.SEND_UPDATE_BROADCAST">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.REQUEST_COMPLICATION_UPDATE" />
            </intent-filter>
        </receiver>

    </application>

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

</manifest>